!!Xft.dpi:             120
!!Xft.dpi:             144
!!*URxvt*font:         xft:Monospace:size=9
!!*URxvt*boldfont:     xft:Monospace-Bold=9
!!*URxvt*letterSpace:   -1
*URxvt*font:         xft:Source Code Pro:size=11
*URxvt*boldfont:     xft:Source Code Pro:Bold:size=11
*URxvt*background:   rgba:1111/2222/3333/eeee
*URxvt*foreground:   white
*URxvt*depth:        32
*URxvt*keysym.S-F1:	 \033[1;2P
*URxvt*keysym.S-F2:	 \033[1;2Q
*URxvt*keysym.CS-F2: \033[1;6Q
*URxvt*scrollBar:    false
xmessage*international: true