Xft.dpi:         144
*URxvt*boldFont:             xft:Source Code Pro:pixelsize=18:style=Bold
*URxvt*font:                 xft:Source Code Pro:pixelsize=18:style=Regular
*URxvt*scrollBar: false
*URxvt*depth: 32
*URxvt*background: rgba:0000/0000/0000/cccc
*URxvt*foreground: white